body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

table {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0);
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-532 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  left: 900px;
  bottom: 60px;
}

.btn-532:disabled {
  cursor: default;
}

.btn-532:-moz-focusring {
  outline: auto;
}

.btn-532 svg {
  display: block;
  vertical-align: middle;
}

.btn-532 [hidden] {
  display: none;
}

.btn-532 {
  border: 0px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-532 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-532:hover .original {
  transform: translateY(100%);
}

.btn-532 .letters {
  display: inline-flex;
}

.btn-532 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-532 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-532:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-532:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-532:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-532:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-532:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-532:hover span:nth-child(6) {
  transition-delay: 0.5s;
}

.btn-53,
.btn-53 *,
.btn-53 :after,
.btn-53 :before,
.btn-53:after,
.btn-53:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-533 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  left: 1100px;
  bottom: 125px;
}

.btn-533:disabled {
  cursor: default;
}

.btn-533:-moz-focusring {
  outline: auto;
}

.btn-533 svg {
  display: block;
  vertical-align: middle;
}

.btn-533 [hidden] {
  display: none;
}

.btn-533 {
  border: 1px solid;
  border-radius: 999px;
  box-sizing: border-box;
  display: block;
  font-weight: 900;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  text-transform: uppercase;
}

.btn-533 .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1);
}

.btn-533:hover .original {
  transform: translateY(100%);
}

.btn-533 .letters {
  display: inline-flex;
}

.btn-533 span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s cubic-bezier(0.87, 0, 0.13, 1), opacity 0.2s;
}

.btn-533 span:nth-child(2n) {
  transform: translateY(15px);
}

.btn-533:hover span {
  opacity: 1;
  transform: translateY(0);
}

.btn-533:hover span:nth-child(2) {
  transition-delay: 0.1s;
}

.btn-533:hover span:nth-child(3) {
  transition-delay: 0.2s;
}

.btn-533:hover span:nth-child(4) {
  transition-delay: 0.3s;
}

.btn-533:hover span:nth-child(5) {
  transition-delay: 0.4s;
}

.btn-533:hover span:nth-child(6) {
  transition-delay: 0.5s;
}
.outer {
  width:400px;
  height: 250px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #00000068);
  position: relative;
  bottom: 150px;
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #20222200;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d00);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}
.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.card .text {
  font-weight: bolder;
  font-size: 4rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c00;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f00 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #22242400 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
}
h1{font-size: 40px}